<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.poseidon_project.universaal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- For Google Maps API -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".POSEIDONUniversaal">
       <meta-data android:name="org.universAAL.android.metadata" android:resource="@raw/uaal"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBGGxOCvddzVtcnRaOr_D7AHrRIZCY3USU" />

        <activity
            android:name=".activities.NavigationActivity" android:launchMode="singleTop"
            android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="org.poseidon_project.universaal.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="org.poseidon_project.universaal.services.NavigationalService">
            <intent-filter>
                <action android:name="org.universaal.nativeandroid.lightserver.TURN_ON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.universaal.nativeandroid.lightserver.TURN_OFF" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.universaal.nativeandroid.lightserver.GET_CONTROLLED_LAMPS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.poseidon_project.universaal.services.INavigationalService"></action>
                <action android:name="org.poseidon_project.universaal.NEW_ROUTE"></action>
                <action android:name="org.poseidon_project.universaal.NEW_SEGMENT"></action>
            </intent-filter>
        </service>
        <activity android:name=".activities.RouteActivity"></activity>
        <receiver
            android:name=".services.EventReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.universaal.nativeandroid.lighting.LAMP_STATE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".breceivers.CalendarBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.poseidon_project.CALENDAR_FINAL_REMINDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
